.loginCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 30%;
}

.loginBtn {
  font-size: 64px;
  margin: auto;
  color: cornflowerblue !important;
}

.loginBtn:hover > svg {
  color: green;
}

#facebookBtn {
  color: rgb(81, 81, 179);
}

#googleBtn {
  color: rgba(100, 50, 255, 0.8);
  color: #212121;
}

#googleBtn {
  text-shadow: 2px 2px 4px #000000;
}
