#contentContainer
{
    display: flex;
    justify-content: space-evenly;
}

#homeContentGrid
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    box-sizing: border-box;
}

.expListCont
{
    padding: 10px;
}







