.chargeItem
{
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid rgb(207, 207, 207);
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

.chargeItem:last-child
{
    border-bottom: none;
}

@media(min-width: 565)
{
    .chargeItem
    {
        font-size: 16px;
    }
}

@media(max-width: 420px)
{
    .chargeItem
    {
        font-size: 12px;
    }
}
