.homepage {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: oldlace;
}

#pennyImg {
  z-index: -1;
  background: white;
  max-width: 20%;
  max-height: 20%;
  background: none;
}

.hContent {
  text-align: center;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

#signInTxt {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#hHeader {
  margin: 0;
  font-size: 44px;
}

#hPar1 {
  font-size: 24px;
}

#hPar2 {
  font-size: 24px;
}

@media (max-width: 610px) {
  #pennyImg {
    max-height: 40%;
    max-width: 40%;
  }
}
