#hourlyContainer
{
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hourlyWageGrid
{
    padding: 10px;
}

#weeklyGrid
{
    padding: 10px;
}

.MuiOutlinedInput-root
{
    margin-top: 10px;
}

.MuiInputLabel-outlined
{
    margin-top: 10px;
}

#hourlySubmit
{
    margin-top: 10px;
}

#salaryTotalP
{
    font-size: 22px;
}