#recurringPiePaper {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px 0;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

#recurringPie {
  z-index: 10;
  box-sizing: border-box;
  background: rgb(214, 206, 206);
  padding: 5px;
  margin: auto;
}

.pieGridItem {
  padding: 20px;
}

.ovAlt {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 10px;
}

.ovSubC {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#overviewSubHeader {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.ovSubHeaderItem {
  padding: 2rem;
}

.expenseDropdownContainer {
  width: 100%;
  margin-top: 2rem;
}

.expenseDropdown {
  padding: 1rem;
}

.ovSubI {
  text-align: center;
  margin: 5px 0 !important;
}

.ovP {
  box-sizing: border-box;
  padding: 10px;
  background: rgb(247, 247, 247) !important;
}

.ovPercP {
  border: 1px solid black;
  padding: 10px;
  background: rgba(254, 255, 216, 0.945) !important;
}

.ovI {
  font-style: italic;
}

.percSpan {
  font-weight: bolder;
}

@media (max-width: 620px) {
  .pieGridItem {
    display: none;
  }
}
