$light: #fdfeed;
$dark: #3d3a2e;

.expense__form {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background: $light;
  position: relative;

  main {
    display: flex;
    margin: 20vh 0;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    button {
      padding: 2em;
      color: $dark;
    }
  }
}

.expense__form__base {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  background: $dark;
  padding: 2em;
  margin: 1em;

  .e__form--chargeType {
    width: 100%;
  }

  .e__form--control {
    padding: 1em;
  }
}

.goodrx__helper {
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 20;
  padding: 1em;
  background: grey;
  border-radius: 10px;
}

.rx__directions {
  min-width: 100% !important;
}
