#profilePage
{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('https://img.pngio.com/white-background-photos-and-wallpaper-for-free-download-white-background-png-800_333.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#gridWelcome
{
    margin: auto;
    padding: 20px;
}

#gridSalary
{
    margin: auto;
    padding: 20px;
}

.profHeaderSub
{
    min-height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 959px)
{
    #profileHeader
    {
        
    }
}