#profilePage
{
    min-width: 100vw;
    min-height: 100vh;
}

#backgroundContainer
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#gridWelcome
{
    margin: auto;
    padding: 20px;
}

#gridSalary
{
    margin: auto;
    padding: 20px;
}

.profHeaderSub
{
    min-height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcomeH
{
    font-family: 'Roboto Mono', monospace;
}

#currentSalP
{
    font-family: 'Roboto Mono', monospace;
}

#salaryUpdateBtn
{
    font-family: 'Roboto Mono', monospace;
}

.categorySelectRegion
{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

@media(max-width: 959px)
{
    #profileHeader
    {
        
    }
}

@media(max-width: 440px)
{
    .categoryBtn
    {
        
    }
}