#siteNav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  background: white;
}

/*Top nav section*/

#navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: rgb(107, 103, 47);
  color: #f9e996;
}

.navBtn {
  background: none !important;
  color: #f9e996 !important;
}

.navBtn:hover {
  background: rgb(75, 75, 75) !important;
  color: white;
}

#homeBtn {
  font-size: 1.5rem;
}

/*Top nav section end */

/*Middle nav section */

#navSalary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: black;
}

#salaryUpdateBtn {
  font-family: 'Roboto Mono', monospace;
  margin-left: 1rem;
  padding: 1em;
  border: none;
  font-size: 1.5rem;
}

#salaryUpdateBtn:hover {
  background: rgb(75, 75, 75);
  color: white;
}

/*Middle Nav section end*/

/*Bottom Nav section */

.nav__bottom {
  display: flex;
  justify-content: space-evenly;
  background: rgba(248, 237, 173, 0.767);
  padding: 0.5em 0;
}

.categoryBtn {
  font-weight: bold !important;
  margin: 0 1em !important;
}

.catIcon {
  font-size: 20px;
  margin: 0 10px 0 0;
}

.categoryBtn:hover {
  background-color: white !important;
  color: black !important;
  font-weight: bolder !important;
}

/*Bottom nav section end*/
